/* Josh W. Comeau's CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Main style */
* {
  font-family: "Roboto", serif;
}

body {
  display: grid;
  height: 100vh;
  grid: 1fr 4fr / 1fr 4fr;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.lg-icon {
  height: 3rem;
}

.md-icon {
  height: 1.5rem;
}

.sm-icon {
  height: 1.25rem;
}

.md-profile-pic {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.lg-profile-pic {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

#sidebar {
  background-color: #0ea5e9;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
  color: white;
  font-weight: 600;
  padding: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#page-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: xx-large;
}

.side-nav {
  padding-left: 1rem;
}

.side-nav li {
  margin-top: 1rem;
}

.side-nav a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: large;
}

#sidebar .lg-icon,
#sidebar .md-icon {
  filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(124deg)
    brightness(115%) contrast(107%);
}

#header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid: 2fr 3fr / 5fr 3fr;
  position: relative;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#search input {
  border-radius: 24px;
  background-color: #e2e8f0;
  border: 0px;
  padding: 6px 12px;
  min-width: 200px;
  width: 75%;
}

#search input:focus {
  outline: none;
}

#user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#user-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 600;
}

#user-profile button {
  background-color: white;
  border: none;
}

#greeting {
  display: grid;
  grid: 1fr 1fr / 1fr 6fr;
  font-weight: 600;
}

#greeting img {
  align-self: center;
  grid-area: 1 / 1 / 3 / 2;
}

#greeting p {
  align-self: end;
}

#greeting h2 {
  align-self: start;
}

#dashboard-func {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboard-func button {
  color: white;
  background-color: #0ea5e9;
  border-radius: 24px;
  border: none;
  width: 108px;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

#main {
  background-color: #e2e8f0;
  grid-area: 2 / 2 / 3 / 3;
  padding: 1rem 2rem;
  display: grid;
  grid: 1fr 1fr/ 7fr 3fr;
  gap: 1.5rem;
}

.section-head {
  margin-bottom: 1rem;
}

#user-prj {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
}

#prj-board {
  display: grid;
  grid: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 1.25rem;
  flex: 1;
}

.prj-card {
  background-color: white;
  border-radius: 6px;
  padding: 1rem 2rem;
  display: grid;
  border-left: 8px solid #fbbf24;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.prj-desc {
  font-weight: 400;
  color: #475569;
}

.prj-func {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

.prj-func button {
  border: none;
  background-color: white;
}

#announcement-board {
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#announcement-board > *:not(:first-child) {
  padding-top: 1rem;
}

#announcement-board > *:not(:last-child) {
  border-bottom: 1px solid #475569;
  padding-bottom: 1rem;
}

.announcement-desc {
  font-weight: 400;
  font-size: 0.75rem;
  color: #475569;
  overflow: hidden;
  height: 72px;
}

#trending {
  display: flex;
  flex-direction: column;
}

#trending-board {
  flex: 1;
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 1rem 2rem;
  display: grid;
}

.trending-profile {
  display: grid;
  grid: 1fr 1fr / 1fr 4fr;
  align-items: center;
  column-gap: 1rem;
}

.trending-profile img {
  grid-area: 1 / 1 / 3 / 2;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.trending-user {
  align-self: end;
}

.trending-prj {
  align-self: start;
  color: #475569;
}
