/* Josh W. Comeau's CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Main style */
* {
  font-family: "Roboto", serif;
}

body {
  display: grid;
  height: 100vh;
  grid: 1fr 4fr / 1fr 4fr;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.lg-icon {
  height: 3rem;
}

.md-icon {
  height: 2rem;
}

.sm-icon {
  height: 1.25rem;
}

#sidebar {
  background-color: #0ea5e9;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-auto-rows: min-content;
  gap: 3rem;
  color: white;
  font-weight: 600;
  padding: 1rem;
}

#page-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: xx-large;
}

.side-nav {
  padding-left: 1rem;
}

.side-nav li {
  margin-top: 1rem;
}

.side-nav a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: large;
}

#sidebar .lg-icon,
#sidebar .md-icon {
  filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(124deg)
    brightness(115%) contrast(107%);
}

#header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid: 2fr 3fr / 7fr 3fr;
}

#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1rem 2rem;
}

#search input {
  border-radius: 24px;
  background-color: #e2e8f0;
  border: 0px;
  padding: 6px 12px;
  min-width: 200px;
  width: 75%;
}

#search input:focus {
  outline: none;
}

#user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

#dashboard-func {
  display: flex;
}

#main {
  background-color: blueviolet;
  grid-area: 2 / 2 / 3 / 3;
}
